@model IEnumerable<ASP220214V4.Models.FilmViewModel>

<h2>Filmek</h2>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Plakát</th>
            <th>Cím</th>
            <th>Műfajok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vm in Model)
        {
            <tr>
                <td><img src="~/Content/imgs/cover_imgs/@vm.Film.Kep" height="50"/></td>
                <td>@vm.Film.EredetiCim</td>
                @{
                    string mufajokString = string.Empty;
                    foreach (var m in vm.Mufajok)
                    {
                        mufajokString += $"{m.Megnevezes}, ";
                    }
                    mufajokString = mufajokString.Substring(0, mufajokString.Length - 2);
                }
                <td>@mufajokString</td>
            </tr>
        }
    </tbody>
</table>

