@model IEnumerable<ASP220214V4.Models.Ugyfel>

<h2>Ugyfelek Listája</h2>

<table id="ugyfelek" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <ht>előfizetés</ht>
        </tr>
    </thead>
    <tbody>
        @foreach (var ugyfel in Model)
        {
            <tr>
                <td>@ugyfel.Id</td>
                <td>@ugyfel.Nev</td>
                <td>@ugyfel.ElofizetesTipus.Nev</td>
            </tr>
        }
    </tbody>
</table>

