@model IEnumerable<ASP220214V4.Models.Ugyfel>

<h2>Ugyfelek Listája</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <ht>előfizetés</ht>
        </tr>
    </thead>
    <tbody>
        @foreach (var ugyfel in Model)
        {
            <tr>
                <td>@ugyfel.Id</td>
                <td>@Html.ActionLink(ugyfel.Nev, "Szerkesztes", "Ugyfelek", new { Id = ugyfel.Id }, null)</td>
                <td>@ugyfel.ElofizetesTipus.Nev</td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <a href="~/Ugyfelek/UgyfelForm" class="btn btn-primary">Új ügyfél hozzáadása</a>
</div>


