@model ASP220214V4.Models.Ugyfel

@{ 
    string dts = Model.SzuletesiDatum is null
        ? "nincs megadva"
        : ((DateTime)Model.SzuletesiDatum).ToString("yyyy. MMMM dd.");
}

<h2>@Model.Nev Adatai:</h2>

<ul>
    <li><strong>Név:</strong> @Model.Nev</li>
    <li><strong>Születési dátum:</strong> @dts</li>
    <li><strong>Előfizetés típusa:</strong> @Model.ElofizetesTipus.Nev</li>
</ul>

